<div class="dropdown">
  <!-- <input #input placeholder={{placeholder}} [disabled]="disabled" readonly [value]="displayText" (click)="toggleClass()" (blur)="onTouched()" autocomplete="off"> -->
  <input #input placeholder={{placeholder}} [disabled]="disabled" readonly [value]="displayText" (click)="toggleClass()" (keydown)="onKeyDown($event)" (blur)="onTouched()" autocomplete="off">
  <span class="dropdown-arrow" (click)="onDropMenuIconClick($event);" style="cursor: pointer;">🔽</span>
  <div id="myDropdown" class="dropdown-content" [class.show]="show">
    <ng-container *ngFor="let item of list">
      <a href="javascript:void(0)" (click)="onSelectItem(item)">{{item.name}}</a>
    </ng-container>
  </div>
</div>
